$def with(todos)
$:render.header()

<div class="box">

    <div class="box todos">
        <h2 class="box">待办事项</h2>
        <ul>
           $for todo in todos:
                $ status = ''
                $if 'finished' in todo:
                    $if todo['finished']==True:
                        $ status = 'class="finished"'

                <li $:status>
                    $# 未完成的任务
                    $if not status:
                        $todo['title']
                        &nbsp;
                        <a href ="javascript:void(0)" onclick="finish('$todo['_id']','yes');">完成</a>,
                    $else:
                        $# 已经完成的任务
                        <del>$todo['title']</del>
                        &nbsp;
                        <a href ="javascript:void(0)" onclick="finish('$todo['_id']','no');">恢复</a>,
                    <a href ="/TodoLists/$todo['_id']" onclick="update('$todo['_id']');">修改</a>,
                    <a href ="javascript:void(0)" onclick="deleteTD('$todo['_id']');">删除</a>
                </li>
        </ul>
    </div>

    <div class="box post">
        <h2>新增</h2>
        
        <p><input type="text" id="title" class="long_txt" /></p>
        <p><input type="button" value="添加" onclick="createTD()" /></p>
        
    </div>

</div>


<script language=javascript>
    function finish(obj,data) {
        alert(data);
        $$.ajax({
        type: "PATCH",
        url:"/TodoLists/"+obj,
        data:{
            'finished':data
        },
		success:function(result){
			alert("数据: \n" + result + "\n" );
            window.location.href ='/TodoLists';
		},
        error:function() {
              //alert(arguments[1]);
              alert("异常！");
        }
        });
    }

    function deleteTD(obj){
        alert(obj);
        $$.ajax({
        type: "DELETE",
        url:"/TodoLists/"+obj,
        data:{
        },
		success:function(result){
			alert("数据: \n" + result + "\n" );
            window.location.href ='/TodoLists';
		},
        error:function() {
              //alert(arguments[1]);
              alert("异常！");
        }
        });
    };
    function createTD(){
        alert(document.getElementById("title").value);
        $$.ajax({
        type: "POST",
        url:"/TodoLists",
        data:{
            'title':document.getElementById("title").value
        },
        success:function(result){
            alert("数据: \n" + result + "\n" );
            window.location.href ='/TodoLists';
        },
        error:function() {
              //alert(arguments[1]);
              alert("异常！");
        }
        });
    };


</script>


$:render.foot()